html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "font-family: 'Lateef', cursive;" /* this should be the rest of the output you got from Google fonts */
  }
  h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p, li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
  }
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black; /* first two values give offset, third is blue, fourth is shadow colour */
  }
  html {
    background-color: #F1F8F7;
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #F3E0B9;
    padding: 0 20px 20px 20px; /* order is top, right, bottom, left */
    border: 5px solid black;
  }
  .center { /* creates new center element to use for images */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%; /*scales it down to x percent of original size (here not really neccessary */
  }